<div class="search_result_image">
	<img src="<%= image.url %>" />
	<a href="#" class="reply" data-image-id="<%= image.id %>">Reply</a>
	
	<% if image.images.count > 0 %>
		<%= partial :image, :locals => {:image => image.images.first} %>
	<% end %>
	
</div>