<div id="instructions">
	omgimg is an all-image discussion board.<br /><br />
	every day, we post a new image. anyone can come by and comment on that image using other images. <br /><br />
	to comment on the image, click on the orange comment bubble: 
	<img src="images/comment.png" style="width: 27px; height: 22px;" border="0"><br /><br />
	to reply to an existing comment, click on the reply icon next to that comment: 
	<img src="images/reply.png" style="width: 27px; height: 22px;" border="0"><br /><br />
	either one will launch the image search box on the right. just search for an image and then click the arrow next to the image to post it to the discussion.<br /><br />
	let us know what you think at <a href="mailto:omgimg@omgimg.us">omgimg@omgimg.us</a>		
</div>	


<div id="login_container">
	<h1>omgimg</h1>
	<div id="login_outer">
		<div id="login_inner">
		
				<h2>WHAT'S YOUR NAME?</h2>
			
				<form id="loginform" name ="loginform" action="/users/new" method="post">
						<input type="text" class="input_box" name="name"/><br>
						<input type="image" src="images/check_small.png" id="submitter" />
				</form>

				<a href="#" id="instructions_link"><img src="images/questmark_small.png"></a>

		</div>
	</div>
</div>

<script>
	$("#instructions_link").click(function() {
		$("#instructions").toggle("slow");
		return false;
	});
	$("#instructions").click(function() {
		$(this).toggle("slow");
		return false;
	});
</script>

<script>

$("#submitter").bind("click", function()
{
	if (document.loginform.name.value == "")
	{
		alert("please enter a name");
	}
	else
	{
		$("#loginform").submit();
	}
	
	return false;
});

</script>