<div id="header">
	<a href="/today"><img src="/images/omglogo.jpg" /></a>
	<div id="header_inside">
		<img src="<%= @discussion.image.url %>" id="discussion_image" />
		<!-- <img src="images/comment_small.png" />
			<img src="images/questmark_small.png" /> -->
		<a href="#" class="reply" data-image-id="<%= @discussion.image.id %>"><img src="/images/reply.png"></a>
	</div>
</div>

<div id="images">
	<% if @discussion.image.images.count > 0 %>
		<% @discussion.image.images.each do |image| %>
				<%= partial :image, :locals => {:image => image, :first => "first_image"} %>
		<% end %>
	<% end %>
</div>

<div id="container"></div>
<div id="modal">
	<div id="clear_box"><a href="" id="clear"><img src="images/clear.png" /></a></div>
	<h2>TALK WITH PICS</h2>
	<form id="image_search" name="image_search" action="hej">
		<h3>Pick a name</h3>
		<input type= "text" class="user_box" id="username_form" name="username" />
		<h3>Write a search term</h3>
		<input type= "text" class="input_box" id="searchterm" name="searchterm" />
		<input type= "image" id="submit" src="images/search.png" />
		<input type= "hidden" name="parent_id" id="parent_id" value = "0"/>
	</form>
 	<div id="search_results"></div>
</div>

<div class="footer">
	<a href="#" id="show_searchterms">Show Searchterms</a>
	<a href="/archive">See Archive</a>
	<a href="http://www.twitter.com/omgimgus" target="_blank">Give feedback on Twitter</a>
</div>